
body{

	background-color:#FF9800;
	background:url(../images/background.jpg);
	background-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

img { width: 50%; }

.logo{
	margin: 0 auto 0;
    width: 350px;
	margin-top: 100px;
background-color: black;
}

.logo img{width: 100%;}


.search_logo{
  width: 20%;
}

.container{
}

.col-lg-7{
  padding-left: 0px;
}

.col-6{
	height: 60px;
}

.row{
	margin-top: 10px;
  width: 100%;
}
.jumbotron {
	color: #e9ecef;
	background: #212529;
	border-radius: 25px;
	box-shadow: 0 0 12px 9px #141414;
}
.jumbotron h2{
	font-size: 1.5rem;
}
.pageTitle {
	color:#e9ecef;
	text-shadow: 2px 4px 4px #141414;
}
.display-4 {
	font-size: 2.6rem;
	font-style: italic;
}
.jumbotron-fluid {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* search bar */

#searchbox{
	background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto 0;
    width: 85%;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size:22px;
    padding: 0px 20px;
}


.btn-primary {
	border-radius: 0px;
	height:44px;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Artwork container */
.artwork-container{
	width: 100%;
	border:solid;
	background-color: white;
  height: 100%;
  overflow: auto;
}

.artwork-container2{
  width: 100%;
  height: 100%;

}

.artwork-box{
	box-shadow: 0 0 12px 9px #141414;
	width: 100%;
	float:left;
	margin:5px;
	border-radius: 25px;
	padding-bottom: 10rem;
}

img {
	border-radius: 25px;
}

.artwork-box img { width: 100%; }

.leftp
{float: left;}

/*search page*/

.results_txt{
}

.card-deck {
    width: 24%;
    margin: 5px;
    float: left;
  }

/* DEMO-SPECIFIC STYLES */

.typewriter{
	 margin-top: 40px;
}
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    background:black;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


/* Footer*/
.page-footer{ position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    line-height: 40px;
   color: white;
   text-align: center;}




@media screen and (max-width: 1200px) {

.card-deck{
  width: 23%;
}

}

@media screen and (max-width: 991px) {

.card-deck{
  width: 47%;
}

}

@media screen and (max-width: 768px) {

.card-deck{
  width: 47%;
}

.search_logo{width: 95%;}

}

@media screen and (max-width: 576px) {

.card-deck{
  width: 100%;
}

}
